<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="3af03a63-03ef-477c-8b65-ca2b22a15163" Publisher="CN=jimmy_000" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MetroPass</DisplayName>
    <PublisherDisplayName>Jimmy Byrd</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MetroPass.UI.App">
      <VisualElements DisplayName="MetroPass" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="MetroPass.UI" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>