<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="49783TheAngryByrd.MetroPass" Publisher="CN=0177370B-9B3C-4000-B690-0EAE70085CFD" Version="1.0.3.11" />
  <Properties>
    <DisplayName>MetroPass</DisplayName>
    <PublisherDisplayName>TheAngryByrd</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MetroPass.UI.App">
      <VisualElements DisplayName="MetroPass" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="MetroPass" ForegroundText="light" BackgroundColor="#006E87">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#006E87" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.fileTypeAssociation" Executable="MetroPass.UI.exe" EntryPoint="MetroPass.UI.App">
          <FileTypeAssociation Name=".kdbx">
            <DisplayName>Keepass 2.x</DisplayName>
            <SupportedFileTypes>
              <FileType>.kdbx</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>