<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.5.2" targetFramework="wp80" />
  <package id="Caliburn.Micro.BindableAppBar" version="1.0.4.0" targetFramework="wp80" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.7" targetFramework="wp80" />
  <package id="DropNetRT" version="1.0" targetFramework="wp80" />
  <package id="LiveSDK" version="5.4" targetFramework="wp80" />
  <package id="Microsoft.Bcl" version="1.1.3" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" targetFramework="wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.10" targetFramework="wp80" />
  <package id="Microsoft.Net.Http" version="2.2.13" targetFramework="wp80" />
  <package id="MyToolkit" version="1.23.0" targetFramework="wp80" />
  <package id="MyToolkit.Extended" version="1.23.0" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="wp80" />
  <package id="PCLStorage" version="0.2.1-pre" targetFramework="wp80" />
  <package id="reactiveui" version="5.1.2" targetFramework="wp80" />
  <package id="reactiveui-core" version="5.1.2" targetFramework="wp80" />
  <package id="reactiveui-events" version="5.1.2" targetFramework="wp80" />
  <package id="reactiveui-mobile" version="5.1.2" targetFramework="wp80" />
  <package id="reactiveui-platforms" version="5.1.2" targetFramework="wp80" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="wp80" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="wp80" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="wp80" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="wp80" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="wp80" />
  <package id="Rx-Xaml" version="2.1.30214.0" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>